<!-- <p class="sectionheader jumbotron">
  search works!
  <span class="book">
    books
  </span>
</p> -->
<div>
  <span *ngFor="let book of books">
    <div class="jumbotron">
      <ul>
      <!-- <a [routerLink]="['/book',book.id]" routerLinkActive="active"> <li>Book Name:{{book.bookName}}</li></a>  -->
      <li>Book Name:{{book.bookName}}</li>  
      <li>Book Id:{{book.id}}</li>
        <li>Book Description:{{book.description}}</li>
        <li>Book Author Name:{{book.authorName}}</li>
        <li>Book Price:{{book.price}}</li>
        <br>
        <button type="button" class="btn btn-info" (click)="addToYourBooks(book)">Add To Your Books</button>
      </ul>
      <br>
      <br>
    </div>
  </span>
     

</div>